<h1>
  Welcome to Magic Github Explorer!
</h1>
<div class="welcome-container">
  <img src="../../assets/placeholder_pic.jpg" alt="placeholder-pic" class="welcome-pic">
  <p class="welcome-text">
    GitHub Inc. is a web-based hosting service for version control using Git.
    It is mostly used for computer code. It offers all of the distributed version control
    and source code management (SCM) functionality of Git as well as adding its own features.
    It provides access control and several collaboration features such as bug tracking, feature requests,
    task management, and wikis for every project.
    GitHub offers plans for enterprise, team, pro and free accounts which are commonly used to 
    host open-source software projects.
    From January 2019, GitHub now offers unlimited private repositories to all plans, including
    free accounts.As of June 2018, GitHub reports having over 28 million users
    and 57 million repositories (including 28 million public repositories), making it the largest
    host of source code in the world.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus adipisci molestias repellat numquam
    neque esse molestiae ex a! Assumenda itaque dignissimos perspiciatis soluta aliquam fugiat possimus et,
    minus quam recusandae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi? Est autem doloribus optio,
    impedit nihil veritatis ea, illum, nemo architecto odio minima repellendus voluptates libero esse
    veniam laudantium deleniti?
  </p>
</div>